html {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {}

.container>div {
    min-height: 100vh;
}

.section-title {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: 700;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 810px) {
    .section-title {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}
