.example-7 {
    display: grid;
    width: auto !important;
    font-size: 2.5rem;
    padding: 2rem 0 0;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    grid-row-gap: 2rem;
    justify-content: center;
    align-content: flex-start;
}

.example-7>.card {
    height: 200px;
    line-height: 200px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.example-7>.operator {
    height: 200px;
    line-height: 200px;
    text-align: center;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.example-7>.bad {
    color: #C62828;
    background-color: #EF9A9A;
    border: 3px solid #C62828;
}

.example-7>.good {
    color: #1B5E20;
    background-color: #81C784;
    border: 3px solid #1B5E20;
}
